@page "/books/add-new"
@using LibraryManager.Data.Enums;
@model LibraryManager.Web.Pages.Books.AddBookModel
@{
	ViewData["Title"] = "Add New Book";
}


<h1>Add New Book</h1>
<hr />

<p>Fill out this form to add a book to the libary.</p>

<div class="row">
	<div class="col-md-6">
		<form method="post">
			<div class="mb-3">
				<label asp-for="NewBook.Title" class="control-label"></label>
				<input asp-for="NewBook.Title" class="form-control" />
				<span asp-validation-for="NewBook.Title" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="NewBook.Author" class="control-label"></label>
				<input asp-for="NewBook.Author" class="form-control" />
				<span asp-validation-for="NewBook.Author" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="NewBook.Category" class="control-label"></label>
				<select asp-for="NewBook.Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
				<span asp-validation-for="NewBook.Category" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="NewBook.YearPublished" class="control-label"></label>
				<input asp-for="NewBook.YearPublished" class="form-control" />
				<span asp-validation-for="NewBook.YearPublished" class="text-danger"></span>
			</div>

			<button class="btn btn-success">Create</button>
		</form>
	</div>
</div>

